.mobile{
    display: none;
}
.nameSite {
    font-family: 'Press Start 2P';
    text-align: center; 
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
    color: var(--header-text-color);
}

nav a:hover {
    color: var(--header-text-color); 
}

nav a:active {
    color: rgb(71, 27, 80);
}

header {
    grid-area: header;
    position: relative;
    border: 2px solid var(--border-color);
    background-color: var(--bg-sec-color);
    margin: 0;
    border-radius: 8px;
    margin-left: 10%;
    margin-right: 10%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
}
.menu-link{
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}

@media screen and (max-width: 480px) {
    .mobile{
        display: block;
    }
    header {
        max-width: 100%;
        position: relative;
        border: 2px solid var(--border-color);
        background-color: var(--bg-sec-color);
        margin: 0;
        padding-bottom: 17px;
        border-radius: 8px;
        padding: 7px 0;
        z-index: 1000;
    }
    nav ul{
        display: none;
    }
    .nameSite {
        margin: 2px;
        font-family: 'Press Start 2P';
        text-align: center; 
        text-transform: uppercase;
        font-size: 14px;
        color: var(--header-text-color);
    }
    p{
        font-size: inherit;
    }
    .nameSite img{
        display: none;
    }
    .menu-link  {
        display: none;
    }
    .menu-items {
        display: none;
    }
    .menu-toggle{
        display: none;
    }
    .menu-toggle:checked + .burger-icon + .menu-items {
        display: flex;
    }
    .menu-items {
        border-top: none;
        border-left: 2px solid var(--border-color);
        border-right: 2px solid var(--border-color);
        border-bottom: 2px solid var(--border-color);
        margin-left:1% ;
        width: 97%;
        height: 100%;
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 0;
        background-color: var(--bg-sec-color);
        z-index: 1000;
        
    }
    .burger-icon {
        position: absolute;
        right: 25px;
        top:29px;
        width: 14px;
        height: 30px;
        cursor: pointer;
    }
    .burger-icon::before, .burger-icon::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: var(--header-text-color);
        transform: translateY(-50%);
        transition: all 1s;
    }
    .menu-toggle:checked + .burger-icon::before {
        transform: rotate(45deg);
        background-color: #9e1604;
    }
    .menu-toggle:checked + .burger-icon::after {
        transform: rotate(-45deg);
        background-color: #9e1604;
    }
}
