@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu&display=swap');

body {
    background-color: var(--bg-color);
    color: #f5f5f5;
    font-family: 'Ubuntu';
    margin: 8px; 
    line-height: 1.4;
}
main{
    grid-area:main;
    padding-left: 15px;
    margin-left: 15%;
    margin-right: 15%;
}
:root {
    --bg-color:#15151b ;
    --border-color: #303035;
    --bg-sec-color: #1e1e24;
    --header-text-color: rgb(116, 48, 129);
}
.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
        " header "
        "main"
        "footer";
    gap: 8px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P';
    color: rgb(15, 106, 145);
}
p {
    font-size: 18px;
}
#tablet-header{
    display: none;
}
.main-container img{
    border-radius: 10px;
}
.main-container #first{
    max-width: 64%;
    margin: 0;
    margin-top: .7em;

}
.main-container .first-img{
    display: flex;
    max-width: 32%;
}
.main-container #first::after{
    bottom:0;
    position: relative;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3498db;
    display: block;
    margin-top: 10px;
    transition: width 0.3s;
}
.main-container #second::after{
    bottom:0;
    position: relative;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3498db;
    display: block;
    margin-top: 10px;
    transition: width 0.3s;
}
.main-container .first-img img{
    max-width: 100%;
    border-radius: 10px;
}
.main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#welcomeText {
    height: 1px;
    margin-top: .4em;
    margin-bottom: 2em;
    width: 100%;
}
.section-left {
    display: grid;
    grid-template-areas: "e1 e2";
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.info-left h3{
    margin-bottom: 18px;
    margin-top: 18px;
}
.image-left img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
#third::after{
    bottom:0;
    position: relative;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3498db;
    display: block;
    margin-top: 10px;
    transition: width 0.3s;
}
#fourth::after{
    bottom:0;
    position: relative;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #3498db;
    display: block;
    margin-top: 10px;
    transition: width 0.3s;
}
.section-right {
    display: grid;
    grid-template-areas: "e1 e2";
    justify-items: center;
    align-items: center;
    gap: 20px;
    text-align: right;
}
.image-right img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.section-left, .section-right {
    margin-bottom: 2rem;
}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 5px;
}
::-webkit-scrollbar-track {
    background: var(--bg-sec-color);
}
#head-scroll {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    -webkit-transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, -webkit-transform 1.5s;
    transition: opacity 1.5s, transform 1.5s;
    transition: opacity 1.5s, transform 1.5s, -webkit-transform 1.5s;
  }









.console-list {
    display: flex;
    justify-content: space-between;
}
.console-item {
    flex-basis: calc(33.33% - 20px); 
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--bg-sec-color);
}
.console-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.card-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 350px;
    overflow: hidden;
}
.overlay p {
    color: rgb(201, 0, 241);
}

.card img {
    width: 100%;
    transition: transform 0.3s;
}

.card-content {
    position: relative;
}

.card-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(51, 97, 70, 0), rgba(28, 124, 57, 0.8));
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

.card:hover .overlay {
    transform: translateY(0);
}

.card-list1{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card1 {
    position: relative;
    width: 300px;
    height: 400px;
    transition: transform 0.4s;
    padding: .5rem;
    border-radius: 1rem;
    z-index: 3;
}
.glass{
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1rem;
    z-index: 2;

}
.card1:hover {
    transform: scale(1.05);
}

.content1 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 3;
}
.bg-gr {
    position: relative;
    top:-450px;
    left: 20%;
    height: 500px;
    width: 180px;
    z-index: 1;
    background: linear-gradient(to bottom right, #ba12e4, #9e1604);
    transform: skew(8deg, 0);
    border-radius: 1em;
    transition: all .4s ease-in-out;
}
.card1:hover .bg-gr {
    transform: skew(0deg, 0);
}
.bg-gr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: linear-gradient(to bottom right, #ba12e4, #9e1604);
    filter: blur(10px); 
}
.animation-square {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    display: none;
}
.animation-square1 {
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    display: none;
}
.card1:hover .animation-square {
    display: block;
    animation: CardAnimation .8s ease-out forwards;
}
.card1:hover .animation-square1 {
    display: block;
    animation: CardAnimation1 .8s ease-out forwards;
}

@keyframes CardAnimation {
    from {
        opacity: 50%;
        top:-20%;
        left:0;
    }
    to{
        top: -5%;
        left: 10%;
        opacity: 1;
    }
}
@keyframes CardAnimation1 {
    from {
        opacity: 50%;
        bottom:-20%;
        right:0;
    }
    to{
        bottom:-5%;
        right: 10%;
        opacity: 1;
    }
}

.card-filt .card-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.card2 {
    position: relative;
    width: 300px;
    height: 350px;
    transition: transform 0.4s;
    padding: .5rem;
    border-radius: 1rem;
    z-index: 3;
    background: var(--bg-sec-color);
    transition: all 0.3s ease-in;
    z-index: 100;
}
.content2 {
    position: absolute;
    top: 30px;
    left: 20px;
    padding-right: 4px;
    z-index: 3;
}
.card2:hover{
    transform: scale(1.1);
    filter:none;
}
.card-filt:hover .card2:not(:hover) {
    filter: blur(5px);
}
.card-filt2 .card-list{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.card3 {
    position: relative;
    width: 300px;
    height: 350px;
    transition: transform 0.4s;
    padding: .5rem;
    z-index: 3;
    background: var(--bg-sec-color);
    transition: all 0.3s ease-in;
    z-index: 100;
    overflow: hidden;
}
@keyframes animateBottom {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animateTop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animateRight {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes animateLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.card3 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347);
    animation: 2s animateTop linear infinite;
}
.card3 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347);
    animation: 2s animateRight linear -1s infinite;
}
.card3 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347);
    animation: 2s animateBottom linear infinite;
}
.card3 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347); 
    animation: 2s animateLeft linear -1s infinite;
}
.card3 span {
    position: absolute;
  }
.line{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.card3:hover .line{
    opacity: 1;
}
.content3 {
    position: absolute;
    top: 30px;
    left: 20px;
    padding-right: 4px;
    z-index: 3;
}
.card3:hover{
    transform: scale(1.1);
    filter:none;
}
.card-filt2:hover .card3:not(:hover){
    filter: brightness(0.4);
}
.card3 .num-card {
    position: absolute;
    top: 15%;
    right: 1rem;
    font-size: 7rem;
    color: #0977a3;
    user-select: none;
    transition: all 0.4s;
    z-index: -100;
    overflow: hidden;
}
.card3 .num-card{
    filter: brightness(0.2);
}
.card3:hover .num-card {
    transform: scale(1.1);
    filter:none;
    top: -45%;
    font-size: 9rem;
}

.grid-first {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "g1 g1 g2 g3"
    "g4 g5 g2 g6"
    "g4 g7 g7 g7";
    gap: 10px;
    max-width: 900px;
    max-height: 500px;
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.grid-first > * > button{
    padding: 5px 10px;
    border-radius: 0;
    cursor: pointer;

}
.grid-first > * {
    background-color: var(--bg-sec-color); 
    text-align: center;
    transition: background-color .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-first > * > img{
    width: 100px;
    height: auto;
    padding-top: 1em;
}
.grid-item1 {
    grid-area: g1;
    align-items: center;
}
.grid-item2 {
    grid-area: g2;
}
.grid-item3 {
    grid-area: g3;
}
.grid-item4 {
    grid-area: g4;
}
.grid-item5 {
    grid-area: g5;
}
.grid-item6 {
    grid-area: g6;
}
.grid-item7 {
    grid-area: g7;
}
.grid-first > div:hover{
    background-color: #12a6b3; 
}
.grid-item:hover {
    transform: scale(1.1);
}



