@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu&display=swap');

body {
    background-color: #15151b;
    color: #f5f5f5;
    font-family: 'Ubuntu';
    margin: 8px; 
}
main{
    grid-area:main;
    padding-left: 15px;
}
:root {
    --razm-main: 20px; 
    --card-height1: 400px;
    --reg-wd:400px;
}
.cptc{
    margin-top: 1rem;
    line-height: 3.5vh;
}
.cptc button{
    cursor: pointer;
}
.cart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #364364;
    transition: 0.1s;
    cursor: pointer;
    position: fixed; /* Фиксированное расположение */
    top: 50px; /* в правом верхнем углу */
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 15px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.cart__image {
    cursor: pointer;
}
.cart-list {
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background-color: #303035;
    padding: 10px;
    min-width: 200px;
}
.cart-list img {
    width: 100px;
    height: auto;
    padding-top: 1em;
}
.cart-sec{
    margin-top: 4rem;
}
.cart-list .cart-item{
    border-bottom: solid 2px #0e4061 ;
    min-width: 200px;
}
.cart-list .cart-item button{
    margin-left: 1rem;
    padding: 2px 10px;
}
.cart-buttons {
    margin-top: 2rem;
}

.lk-bt, .cptc, .cart-sec{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.like-button{
    position: relative;
    background-color: #1e1e24;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 6em;
    margin-bottom: 0;
}
.like-button img{
    width: 0.7vw;
    height: auto;
}
.drawing-canvas{
    margin-top: 2em;
    display: none;
}
.grid-container {
    display: grid;
    grid-template-columns: 14% 1fr;
    grid-template-rows: repeat(3,auto);
    grid-template-areas:
        " header header "
        "aside main"
        "footer footer";
    gap: 8px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Press Start 2P';
    color: rgb(15, 106, 145);
}

footer address {
    font-family: 'Press Start 2P';
    color: #FF5733; 
    margin-bottom: 2px; 
    margin-top: 6px;
    font-size: 12px;
}

.nameSite {
    font-family: 'Press Start 2P';
    text-align: center; 
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 20px;
    color: rgb(116, 48, 129);
}

nav a:link {
    text-decoration: none;
    color: #209347; 
}

nav a:hover {
    color: #FF5733; 
}

nav a:active {
    color: #0099cc;
}

nav a:visited {
    color: #666; 
}

footer {
    grid-area: footer;
    margin-top: 80px;
    text-align: center;
    
}

header {
    grid-area: header;
    position: relative;
    border: 2px solid #303035;
    background-color: #1e1e24;
    margin: 0;
    border-radius: 8px;
    margin-left: 15%;
    margin-right: 15%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0px;
}
.menu-link{
    cursor: pointer;
    display: block;
    padding: 10px 20px;
    font-size: 16px;
}

aside ul {
    padding-left: 0px;
}

.aside-link {
    float:bottom;
    cursor: pointer;
    display: block;
    padding-bottom: 10px;
    font-size: 16px;
}

aside a {
    font-size: 16px;
    font-family: 'Ubuntu';
}

aside a:link {
    text-decoration: none;
    color: #209347; 
}

aside a:hover {
    color: #FF5733; 
}

aside a:active {
    color: #0099cc;
}

aside a:visited {
    color: #666; 
}

.aside-contact{
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
aside p, aside ul, aside .aside-contact {
    word-wrap: break-word;
}
aside {
    grid-area:aside;
    font-family: 'Press Start 2P';
    color: rgb(116, 48, 129); 
    border: 2px solid #303035;
    background-color: #1e1e24;
    padding: 2px;
    border-radius: 8px;
    position: fixed;
    top: 8px;
    width: 14%;
    text-align: center;
    line-height: 1.2;
    height: 97vh;
    margin-right: 85%;
    overflow: hidden; 

}

.list-styles li {
    list-style: upper-alpha; 
}

.console-list {
    display: flex;
    justify-content: space-between;
}

.console-item {
    flex-basis: calc(33.33% - 20px); 
    padding: 10px;
    border: 2px solid #303035;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #1e1e24;
}

.console-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}


.form-old form input,button,option{
    margin-bottom: 6px;
    border: 2px solid #303035;
    background-color: #1e1e24;
    border-radius: 8px;
    color: #f5f5f5;
}
.form-old form input:focus{
    color: #12a6b3;
}
.reg-sec form input,button,option{
    margin-bottom: 6px;
    border: 2px solid #303035;
    background-color: #1e1e24;
    border-radius: 8px;
    color: #f5f5f5;
}
.reg-sec form input:focus{
    color: #12a6b3;
}

fieldset {
    width: 25vw;
}

textarea {
    border: 2px solid #303035;
    background-color: #1e1e24;
    border-radius: 8px;
    color: #f5f5f5;
    max-width: 25vw;
    max-height: 15vh;
    min-height: 5vh;
}
textarea::placeholder {
    color: #236167;
    font-size: 14px; 
}
section iframe {
    margin-left: 50%;
    transform: translateX(-50%);
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 5px;
    overflow: hidden;
    border: 2px solid #303035;
    background-color: #1e1e24;
    border-radius: 8px;
}
.gallery img {
    max-width: 30%;
    height: auto;
}
/* Стили для анимации при наведении */
.gallery-item:hover {
    transform: scale(1.1);
}

.mobile{
    display: none;
}

.btn {
    background-color: #1e1e24;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
}

.btn::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(116, 48, 129); 
    top: 0;
    left: -100%;
    transition: left 0.3s;
    
}
.btn a {
    position: relative;
}
.btn:hover {
    transform: scale(1.1);
}

.btn:hover::before {
    left: 0;
}

.btn2 {
    background-color: #1e1e24;
    padding: 10px 20px;
    border: 1px solid rgb(116, 48, 129);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.btn2:hover {
    transition: 0.7s ease-in-out;
    background: rgb(116, 48, 129);
  }



.btn3 {
    background-color: #1e1e24;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid #303035;
    border-radius: 0%;

}

.btn3::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10%;
    bottom: 0;
    left: -100%;
    transition: ease-out 0.3s;
    background:  #303035;
    
}

.btn3:hover::before {
  left: 0;
}


.btn4 {
    background-color: #1e1e24;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(116, 48, 129);
    border-radius: 0%;
}

.btn4:hover {
    box-shadow: 1px 1px 25px 1px rgb(116, 48, 129,0.4);
}

.btn4:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgb(116, 48, 129,0.4),
        transparent
    );
    transition: all 0.7s;
}

.btn4:hover:before {
  left: 100%;
}

.card-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 350px;
    overflow: hidden;
}
.overlay p {
    color: rgb(201, 0, 241);
}

.card img {
    width: 100%;
    transition: transform 0.3s;
}

.card-content {
    position: relative;
}

.card-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(51, 97, 70, 0), rgba(28, 124, 57, 0.8));
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s;
}

.card:hover img {
    transform: scale(1.05);
}

.card:hover .overlay {
    transform: translateY(0);
}

.card-list1{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card1 {
    position: relative;
    width: 300px;
    height: 400px;
    transition: transform 0.4s;
    padding: .5rem;
    border-radius: 1rem;
    z-index: 3;
}
.glass{
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(255, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1rem;
    z-index: 2;

}
.card1:hover {
    transform: scale(1.05);
}

.content1 {
    position: absolute;
    bottom: 30px;
    left: 20px;
    z-index: 3;
}
.bg-gr {
    position: relative;
    top:-450px;
    left: 20%;
    height: 500px;
    width: 180px;
    z-index: 1;
    background: linear-gradient(to bottom right, #ba12e4, #9e1604);
    transform: skew(8deg, 0);
    border-radius: 1em;
    transition: all .4s ease-in-out;
}
.card1:hover .bg-gr {
    transform: skew(0deg, 0);
}
.bg-gr::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1; 
    background: linear-gradient(to bottom right, #ba12e4, #9e1604);
    filter: blur(10px); 
}
.animation-square {
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    display: none;
}
.animation-square1 {
    position: absolute;
    width: 80px;
    height: 80px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    display: none;
}
.card1:hover .animation-square {
    display: block;
    animation: CardAnimation .8s ease-out forwards;
}
.card1:hover .animation-square1 {
    display: block;
    animation: CardAnimation1 .8s ease-out forwards;
}

@keyframes CardAnimation {
    from {
        opacity: 50%;
        top:-20%;
        left:0;
    }
    to{
        top: -5%;
        left: 10%;
        opacity: 1;
    }
}
@keyframes CardAnimation1 {
    from {
        opacity: 50%;
        bottom:-20%;
        right:0;
    }
    to{
        bottom:-5%;
        right: 10%;
        opacity: 1;
    }
}
.social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background: #1e1e24;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-button::before {
    content: "";
    position: absolute;
    left:0;
    bottom: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #ba12e4, #9e1604);
    transition: all 0.4s ease-out;
}

.social-button:hover::before {
    bottom: 0;
}

.social-button img{
    position: relative;
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.reg-help p{
    font-size: 12px;
}
.reg-help a{
    cursor: pointer;
    text-decoration: none;
}
.reg-help a:hover{
    color: #209347;
}
.reg-card .p-log{
    width: 16%;
    font-size: 22px;
    border-bottom: 3px solid #f5f5f5;
    padding-bottom: 3px;
}
.reg-sec{
    display: flex;
    align-items: center;
    justify-content: space-around
}
.reg-card {
    margin-top: 12rem;
    margin-bottom: 9rem;
    padding-left: 2rem;
    padding-top: 1rem;;
    width: 400px;
    height: 250px;
    position: relative;
    background: rgba(255, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 1rem;
}
.reg-card .sumb{
    width: 100px;
    background-color: #b4bcbe;
    color: #1e1e24;
    padding-left: 5px;
}
.reg-card input{
    width: calc(var(--reg-wd) - 32px);
    height: 28px;
    border-radius: 2rem;
    padding-left: 10px;
}
.anim-square{
    bottom: 0;
    border-radius: 3px;
    position: absolute;
    width: 25px;
    height: 25px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    animation: CardAnim 12s ease-in forwards 0.5s infinite alternate;
}
.anim-square1{
    top: -5%;
    left: -10%;
    border-radius: 3px;
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    animation: CardAnim1 10s ease-in 2s forwards infinite alternate;
}
.anim-square2{
    top: -8%;
    left: 75%;
    border-radius: 3px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    animation: CardAnim2 10s ease-in forwards 1.2s infinite alternate;
}
.anim-square3{
    top: 35%;
    left: 105%;
    border-radius: 3px;
    position: absolute;
    width: 68px;
    height: 68px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    animation: CardAnim3 10s ease-in 2s forwards infinite alternate;
}
.anim-square4{
    top: 83%;
    left: -5%;
    border-radius: 3px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(15, 106, 145, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 5;
    animation: CardAnim4 10s ease-in 1.5s forwards infinite alternate;
}
.card-filt .card-list{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.card2 {
    position: relative;
    width: 300px;
    height: 350px;
    transition: transform 0.4s;
    padding: .5rem;
    border-radius: 1rem;
    z-index: 3;
    background: #1e1e24;
    transition: all 0.3s ease-in;
    z-index: 100;
}
.content2 {
    position: absolute;
    top: 30px;
    left: 20px;
    padding-right: 4px;
    z-index: 3;
}
.card2:hover{
    transform: scale(1.1);
    filter:none;
}
.card-filt:hover .card2:not(:hover) {
    filter: blur(5px);
}
.card-filt2 .card-list{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.card3 {
    position: relative;
    width: 300px;
    height: 350px;
    transition: transform 0.4s;
    padding: .5rem;
    z-index: 3;
    background: #1e1e24;
    transition: all 0.3s ease-in;
    z-index: 100;
    overflow: hidden;
}
@keyframes animateBottom {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
@keyframes animateTop {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes animateRight {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes animateLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.card3 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347);
    animation: 2s animateTop linear infinite;
}
.card3 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347);
    animation: 2s animateRight linear -1s infinite;
}
.card3 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347);
    animation: 2s animateBottom linear infinite;
}
.card3 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 3px;
    background: linear-gradient(to left, rgba(8, 43, 26, 0), #209347); 
    animation: 2s animateLeft linear -1s infinite;
}
.card3 span {
    position: absolute;
  }
.line{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.card3:hover .line{
    opacity: 1;
}
.content3 {
    position: absolute;
    top: 30px;
    left: 20px;
    padding-right: 4px;
    z-index: 3;
}
.card3:hover{
    transform: scale(1.1);
    filter:none;
}
.card-filt2:hover .card3:not(:hover){
    filter: brightness(0.4);
}
.card3 .num-card {
    position: absolute;
    top: 15%;
    right: 1rem;
    font-size: 7rem;
    color: #0977a3;
    user-select: none;
    transition: all 0.4s;
    z-index: -100;
    overflow: hidden;
}
.card3 .num-card{
    filter: brightness(0.2);
}
.card3:hover .num-card {
    transform: scale(1.1);
    filter:none;
    top: -45%;
    font-size: 9rem;
}

@keyframes CardAnim4 {
    0% {
      transform: translate(0, 0);
    }
    25% {
        transform: translate(0, -8px);
      
    }
    50% {
      transform: translate(34px, 45px);
    }
    75% {
        transform: translate(-26px, 15px);
    }
    100% {
      transform: translate(15px, 0);
    }
  }
@keyframes CardAnim3 {
    0% {
      transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 2px);
      
    }
    50% {
      transform: translate(-14px, 12px);
    }
    75% {
        transform: translate(5px, 2px);
    }
    100% {
      transform: translate(15px, 0);
    }
  }
@keyframes CardAnim2 {
    0% {
      transform: translate(0, 0);
    }
    25% {
        transform: translate(0, 15px);
      
    }
    50% {
      transform: translate(-15px, -15px);
    }
    75% {
        transform: translate(15px, 0);
    }
    100% {
      transform: translate(15px, 0);
    }
  }
@keyframes CardAnim1 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(5px, 0);
    }
    50% {
      transform: translate(5px, 5px);
    }
    75% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
@keyframes CardAnim {
    from {
        bottom:-20%;
        right:-2%;
    }
    50%{
        bottom:-15%;
        right: 4%;
    }
    75%{
        bottom:-11%;
        right: 0;
    }
    to{
        bottom:-5%;
        right: 10%;
    }
}
.grid-first {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3,auto);
    grid-template-areas: 
    "g1 g1 g2 g3"
    "g4 g5 g2 g6"
    "g4 g7 g7 g7";
    gap: 10px;
    max-width: 900px;
    max-height: 500px;
    font-size: 16px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.grid-first > * > button{
    padding: 5px 10px;
    border-radius: 0;
    cursor: pointer;

}
.grid-first > * {
    background-color: #1e1e24; 
    text-align: center;
    transition: background-color .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-first > * > img{
    width: 100px;
    height: auto;
    padding-top: 1em;
}
.grid-item1 {
    grid-area: g1;
    align-items: center;
}
.grid-item2 {
    grid-area: g2;
}
.grid-item3 {
    grid-area: g3;
}
.grid-item4 {
    grid-area: g4;
}
.grid-item5 {
    grid-area: g5;
}
.grid-item6 {
    grid-area: g6;
}
.grid-item7 {
    grid-area: g7;
}
.grid-first > div:hover{
    background-color: #12a6b3; 
}
.grid-item:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 480px) {
    .form-sec{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .form-new {
        margin-top: 40px;
        width: 340px;
        height: auto;
        position: relative;
        background: rgba(255, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 1rem;
        padding:30px 20px ; 
    }
      
    .form-new form {
        display: grid;
        grid-template-columns: 340px;
        grid-template-areas: 
        "g1 "
        "g2"
        "g3"
        "g4"
        "g5"
        "g6";
        gap: 10px;
        margin-block-end:0;
    
    }
    
    .form-new form  > *{
        display: grid;
        grid-template-columns: auto;
        align-items: stretch;
    }  
    
    .form-new form  > * > input {
        background-color: #1e1e24;
        border: none;
        padding: 10px;
        border-bottom: 1px solid #f5f5f5;
        transition: border-color 0.3s, transform 0.3s;
        z-index: 1;
    }
    .form-group5{
        grid-area: g5;
    }
    .form-new form  > * > input:focus {
        background-color: #3498db;
        color: #f5f5f5;
        transform: scale(1.02);
        z-index: 100;
    }
    .form-new button {
        grid-area: g6;
        padding: 5px 10px;
        background-color: #3498db;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 0;
    }
    .form-new button:hover {
        background-color: #2078a4;
    }
    .form-new form  > * > input::placeholder {
        color: #0e4061; 
    }
    .anim-square, .anim-square3{
        display: none;
    }
    .reg-card {
        --reg-wd1:290px;
        width: 290px;
        height: 250px;
    }
    .reg-card input{
        width: calc(var(--reg-wd1) - 32px);
    }
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
            " header "
            "main"
            "footer";
        gap:0px;
    }
    .card-filt .card-list{
        display: flex;
        justify-content: space-around;
    }
    .card-filt2 .card-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card2{
        margin-bottom: 2rem;
    }
    .card3{
        margin-bottom: 2rem;
    }
    body {
        margin: 2px; 
        padding: 2px;
    }
    img {
        max-width: 100%; 
        height: auto; 
    }
    header {
        max-width: 100%;
        position: relative;
        border: 2px solid #303035;
        background-color: #1e1e24;
        margin: 0;
        padding-bottom: 17px;
        border-radius: 8px;
        padding: 7px 0;
    }
    nav ul{
        display: none;
    }
    .nameSite {
        margin: 2px;
        font-family: 'Press Start 2P';
        text-align: center; 
        text-transform: uppercase;
        font-size: 14px;
        color: rgb(116, 48, 129);
    }
    .nameSite img{
        display: none;
    }
    .console-list {
        max-width: 100%;
        flex-direction: column; 
        align-items: center;
    }
    .console-item {
        flex-basis: calc(100% - 20px); 
        margin-bottom: 2px; 
    }
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    h3 {
        font-size: 14px;
    }
    fieldset {
        width: 55vw;
    }
    textarea {
        max-width: 40vw;
    }
    aside {
        display: none;
    }
    main {
        padding-left: 5px;
        margin-left: 0 ;
        padding-right: 5px;
    }
    .mobile{
        display: block;
    }
    .menu-link  {
        display: none;
    }
    .menu-items {
        display: none;
    }
    .menu-toggle{
        display: none;
    }
    /* Отображение меню бургера при активации чекбокса */
    .menu-toggle:checked + .burger-icon + .menu-items {
        display: flex;
    }
    .menu-items {
        width: 100vw;
        height: 100vh;
        flex-direction: column; 
        align-items: center;
        justify-content: space-around;
        
    }
    /* Стили для бургер-иконки */
    .burger-icon {
        position: absolute;
        top: 12px;
        right: 25px;
        width: 10px;
        height: 30px;
        cursor: pointer;
    }
    /* Псевдоэлементы для создания иконки бургера */
    .burger-icon::before, .burger-icon::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: rgb(116, 48, 129);
        top: 50%;
        transform: translateY(-50%);
        transition: transform 1s;
    }
    /* Анимация для иконки бургера */
    .menu-toggle:checked + .burger-icon::before {
        transform: rotate(90deg);
    }

    .menu-toggle:checked + .burger-icon::after {
        transform: rotate(-90deg);
    }
    .gallery {
        flex-direction: column;
        align-items: center;
    }
    .gallery img {
        margin: 10px;
        max-width: 85%;
        height: auto;
    }
    .card-list{
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin: 10px;
    }
    .card-list1 {
        flex-direction: column;
    }
    .card1 {
        margin-bottom: 100px;
    }

}
@media screen and (min-width: 750px) and (max-width: 1023px) {
    img{
        max-width: 100%;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 14% 1fr;
        grid-template-rows: repeat(3,auto);
        grid-template-areas:
            " header header "
            "aside main"
            "footer footer";
        gap: 8px;
    }
    .card-list{
        flex-direction: column;
    }
    .card-list1{
        flex-direction: column;
    }
    .card1{
        margin-bottom: 8rem;
    }
    .card2, .card3{
        margin-bottom: 2rem;
    }
    aside p, .aside-contact p{
        font-size: 11px;
    }
    aside a, .aside-contact a{
        font-size: 13px;
    }
    header{
        margin-left:16%;
        margin-right: 0;
    }
    nav ul{
        justify-content: center;
    }
    header p{
        word-wrap:normal;
    }
}
@media screen and (min-width: 713px) and (max-width: 2560px){
    .form-sec{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .form-new {
        margin-top: 40px;
        width: 580px;
        height: auto;
        position: relative;
        background: rgba(255, 0, 0, 0.1);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        border-radius: 1rem;
        padding:30px 20px ; 
    }
      
    .form-new form {
        display: grid;
        grid-template-areas: 
        "g1 g2"
        "g3 g4"
        "g5 g5 "
        "g6 . ";
        gap: 10px;
        margin-block-end:0;
    
    }
    
    .form-new form  > *{
        display: grid;
        align-items: stretch;
    } 
    
    .form-new form  > * > input {
        background-color: #1e1e24;
        border: none;
        padding: 10px;
        border-bottom: 1px solid #f5f5f5;
        transition: border-color 0.3s, transform 0.3s;
        z-index: 1;
    }
    .form-group5{
        grid-area: g5;
    }
    .form-new form  > * > input:focus {
        background-color: #3498db;
        color: #f5f5f5;
        transform: scale(1.02);
        z-index: 100;
    }
    .form-new form  > * > input::placeholder {
        color: #0e4061; 
    }
    
    .form-new button {
        grid-area: g6;
        padding: 5px 10px;
        background-color: #3498db;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 0;
    }
    
    .form-new button:hover {
        background-color: #2078a4;
    }
}
@media screen and (min-width: 1001px) and (max-width: 2560px){
    .footer-content {
        display: grid;
        grid-template-columns: 14% repeat(3, 1fr);
        grid-template-areas: 
        " . g1 g2 g3"
        " . g4 g4 g4";
        gap: 5px 20px ;
      }
      .copyr{
        grid-area: g4;
      }
      .about-us{
        grid-area: g1;
      }
      .footer-content .contacts{
        grid-area: g2;
      }
      .footer-content .quick-links{
        grid-area: g3;
      }
      .footer-item {
        padding: 20px;
        text-align: center;
        transition: transform 0.3s;
      }
      
      .footer-item:hover {
        transform: scale(1.01);
      }
      
      .footer-item h3 {
        font-size: 24px;
      }
      .footer-item::before {
        top:100%;
        position: relative;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #3498db;
        display: block;
        margin: 10px 0;
        transition: width 0.3s;
      }
      .footer-item:hover::before {
        width: 50%;
      }
      .quick-links a {
        color: #3498db;
        text-decoration: none;
        transition: color 0.3s;
      }
      .quick-links a:hover {
        color: #2078a4;
      }
}
@media screen and (min-width: 769px) and (max-width: 1000px){
    .footer-content {
        display: grid;
        grid-template-columns: 14% repeat(2, 1fr);
        grid-template-areas: 
        " . g1 g3 "
        " . g2 g2 "
        " . g4 g4 ";
        gap: 5px 20px ;
    }
    .copyr{
        grid-area: g4;
    }
    .about-us{
        grid-area: g1;
    }
    .footer-content .contacts{
        grid-area: g2;
    }
    .footer-content .quick-links{
        grid-area: g3;
    }
    .footer-item {
        padding: 20px;
        text-align: center;
        transition: transform 0.3s;
    }
    
    .footer-item:hover {
        transform: scale(1.01);
    }
    
    .footer-item h3 {
        font-size: 24px;
    }
    .footer-item::before {
        top:100%;
        position: relative;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #3498db;
        display: block;
        margin: 10px 0;
        transition: width 0.3s;
    }
    .footer-item:hover::before {
        width: 50%;
    }
    .quick-links a {
        color: #3498db;
        text-decoration: none;
        transition: color 0.3s;
    }
    .quick-links a:hover {
        color: #2078a4;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px){
    .footer-content {
        display: grid;
        grid-template-areas: 
        "g1"
        "g3"
        "g2"
        "g4";
        gap: 5px 20px ;
    }
    .copyr{
        grid-area: g4;
    }
    .about-us{
        grid-area: g1;
    }
    .footer-content .contacts{
        grid-area: g2;
    }
    .footer-content .quick-links{
        grid-area: g3;
    }
    .footer-item {
        padding: 20px;
        text-align: center;
        transition: transform 0.3s;
    }
    
    .footer-item:hover {
        transform: scale(1.01);
    }
    
    .footer-item h3 {
        font-size: 24px;
    }
    .footer-item::before {
        top:100%;
        position: relative;
        content: "";
        width: 100%;
        height: 3px;
        background-color: #3498db;
        display: block;
        margin: 10px 0;
        transition: width 0.3s;
    }
    .footer-item:hover::before {
        width: 50%;
    }
    .quick-links a {
        color: #3498db;
        text-decoration: none;
        transition: color 0.3s;
    }
    .quick-links a:hover {
        color: #2078a4;
    }
}